/* Background */
body.login-page {
    margin: 0;
    padding: 0;
    background: url('../img/login-bg.png') no-repeat center center fixed;
    background-size: cover;
}

/* Container */
.login-container {
    display: flex;
    align-items: center;
    /*justify-content: space-around; */
    padding: 10%;
}

.logo-section, .form-section {
    flex: 1; 
    text-align: center;
}

/* Logo Section */
.logo-section {
    flex: 1;
    text-align: center;
    width: 50%;
}
.logo {
    width: 80%;
    
}





