@import "tailwindcss";
/* @import "bootstrap"; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Alte Haas Grotesk Bold";
    src: url("/public/font/alte_haas_grotesk/AlteHaasGroteskBold.ttf")
        format("truetype");
    font-weight: bold;
    font-style: normal;

    font-family: "Creato Display Bold";
    src: url("/public/font/creato_display/CreatoDisplay-Bold.otf")
        format("truetype");
    font-weight: bold;
    font-style: normal;

    font-family: "Creato Display Black";
    src: url("/public/font/creato_display/CreatoDisplay-Black.otf")
        format("truetype");
    font-weight: bold;
    font-style: normal;
}

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-ehr: #1a6a24;
    --color-yellow: #fde050;
    --color-dark-yellow: #f3b809;
    --color-red: #ec0000;
    --color-dark-red: #8e1600;
    --font-alte: "Alte Haas Grotesk Bold", arial;
    --font-creato-bold: "Creato Display Bold", arial;
    --font-creato-black: "Creato Display Black", arial;
}

/* alerts */
.alert {
    position: fixed;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 1050;
    border-radius: 0.375rem;
    padding: 0.5rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);

    opacity: 1;
    transition: opacity 0.6s ease;
}
/* Variants */
.alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

.alert-light {
    color: #636464;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
}

/* This class applies the pop-up animation */
.popup-alert {
    animation: popUp 0.2s ease-out;
}

@keyframes popUp {
    0% {
        transform: scale(0.8) translateX(-50%);
        opacity: 0;
    }
    70% {
        transform: scale(1.01) translateX(-50%);
        opacity: 1;
    }
    100% {
        transform: scale(1) translateX(-50%);
        opacity: 1;
    }
}
