/* Container Styling */


/* Page Title */
h1 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    border: solid #EDB62C;
    width: 200px;

}

/* Table Styling */
.table {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}

.table thead {
    background-color: #1A6A24;
    color: #fff;
    text-align: center;
}

.table thead th {
    font-weight: bold;
    padding: 12px;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #EDB62C;
    color: #1A6A24;
    transition: 0.3s;
}

.table td {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

/* Empty Row Styling */
.table td[colspan="5"] {
    color: #666;
    font-style: italic;
}

/* Pagination */
.pagination .page-link {
    color: #1A6A24;
    border: 1px solid #1A6A24;
}

.pagination .page-item.active .page-link {
    background-color: #1A6A24;
    border-color: #1A6A24;
    color: #fff;
}

.pagination .page-link:hover {
    background-color: #EDB62C;
    color: #1A6A24;
}

/* Buttons */
.btn-primary  {
    background-color: #1A6A24;
    border: solid #EDB62C;
    font-weight: bold ;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #EDB62C;
    border-color: #EDB62C;
    color: #1A6A24;
    transition: 0.3s;
}
