
body {
  background: #1A6A24;
  margin: 0;
  padding: 20px;
  color: #000;
}

.container {
  background: #fffbe6;
  padding: 10px;
  border-radius: 5px;
}

.header {
  margin-bottom: 10px;
  font-weight: bold;
  background: #1A6A24;
  color: #fff;
  padding: 8px;
}

.header label {
  margin-right: 10px;
}



.criteria {
  background: #1A6A24;
  color: #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fffbe6;
}

th, td {
  border: 2px solid #EDB62C;
  padding: 8px;
  vertical-align: top;
}

th {
  background: #1A6A24;
  color: #fff;
  text-align: center;
}

.title {
  width: 120px;
  
  text-orientation: mixed;
  background: #1A6A24;
  color: white;
  font-weight: bold;
}

textarea, input {
  width: 100%;
  height: 60px;        
  border: none;
  background: transparent;
  resize: none;       
  overflow-y: auto;   
  padding: 4px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.buttons .btn {
  background: #EDB62C;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.buttons .btn:hover {
  opacity: 0.9;
}

