* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page Background */
body {
    background-color: #1a6a24; /* Dark Green */
    color: rgb(0, 0, 0);
    padding: 20px;
}

/* Header */
.header {
    font-size: 22px;
    font-weight: bold;
    background: #1a6a24;
    color: #ffffff;
    padding: 12px;
    margin-bottom: 20px;
    border: 3px solid #edb62c;
    border-radius: 4px;
}

h1 {
    text-align: center;
    background: #bfc5c1; /* Dark green */
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 4px solid #d4af37; /* Gold */
}

/* Add button */
.actions {
    text-align: RIGHT;
    margin-bottom: 15px;
}

.btn-add {
    display: inline-block;
    padding: 10px 18px;
    background: #166534;
    color: white;
    border: 2px solid #d4af37;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-add:hover {
    background: #14532d;
    border-color: #b38e2f;
}

/* Success message */
.success-msg {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Table container */
.table-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
}

/* Table styling */
.ehr-table {
    width: 100%;
    max-width: 1000px;
    background: white;
    border: 2px solid #d4af37; /* Gold border */
    overflow: hidden;
}

.ehr-table th,
.ehr-table td {
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #d4af37;
    font-size: 15px;
}

.ehr-table th {
    background: #166534; /* Green header */
    color: white;
    font-size: 16px;
    border-bottom: 3px solid #d4af37;
}

.ehr-table tbody tr:nth-child(even) {
    background: #f9f9f9;
}

.ehr-table tbody tr:hover {
    background: #e6f4ea; /* light green on hover */
}

/* Action buttons */
.btn-edit,
.btn-delete {
    padding: 6px 14px;
    margin: 2px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-edit {
    background: #166534; /* gold */
    color: rgb(255, 255, 255);
}

.btn-edit:hover {
    background: #b38e2f;
}

.btn-delete {
    background: #dc2626; /* red */
    color: white;
}

.btn-delete:hover {
    background: #b91c1c;
}

button,
.clear-btn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    background: #1a6a24;
    color: #fff;
    border: 2px solid #edb62c;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline;
}

button:hover,
.clear-btn:hover {
    background: #14501b;
}
