
body {
  background: #1A6A24;
  margin: 0;
  padding: 20px;
  color: #000;
  font-family: Arial, sans-serif;
}

.container {
  background: #fffbe6;   /* light cream */
  padding: 15px;
  border-radius: 5px;
  border: 3px solid #1A6A24;
  margin-bottom: 20px;
}

.header {
  margin-bottom: 15px;
  font-weight: bold;
  background: #1A6A24;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 100%;
}

    .header select{
      padding: 6px;
      border: 1px solid #EDB62C;
      border-radius: 4px;
      text-align: center;
      background: #fffdf5;
      font-size: 13px;
      width: 200px;
    }

    .header label {
      margin-right: 8px;
      font-size: 16px;
    }

.section-bar {
  margin-bottom: 15px;
  font-weight: bold;
  background: #1A6A24;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 100%;
}

    .section-bar label {
      margin-right: 6px;
      font-size: 16px;
      
    }

    .section-bar select,
    .section-bar input[type="date"] {
      padding: 6px;
      border: 1px solid #EDB62C;
      border-radius: 4px;
      background: #fffdf5;
      font-size: 13px;
      text-align: center;
      width: 200px;
    }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #fffbe6;
}

th, td {
  border: 2px solid #EDB62C;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

/* Table Headers */
th {
  background: #1A6A24;
  color: #fff;
  font-weight: bold;
}

.title {
  background: #1A6A24;
  color: #fff;
  font-weight: bold;
  width: 180px;
}

input {
  width: 100%;
  padding: 6px;
  border: none;
  background: transparent;
  text-align: center;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 30px;         
  margin-top: 10px;
  justify-content: flex-end;
}

.buttons .btn {
  background: #EDB62C;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.buttons .btn:hover {
  opacity: 0.9;
}

