/* Reset */
* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page Background */
body {
    background-color: #1A6A24; /* Dark Green */
    color: white;
    padding: 20px;
}

/* Header */
.header {
    font-size: 22px;
    font-weight: bold;
    background: #1A6A24;
    color: #000000;
    padding: 12px;
    margin-bottom: 20px;
    border: 3px solid #EDB62C;
    border-radius: 4px;
}


table {
  width: 99%;
  background: #fffbe6;
}

th, td {
  border: 2px solid #EDB62C;
  padding: 8px;
  vertical-align: top;
}

th {
  background: #1A6A24;
  color: #fff;
  text-align: center;
}

.title {
  width: 120px;
  
  text-orientation: mixed;
  background: #1A6A24;
  color: white;
  font-weight: bold;
}

textarea, input {
  width: 100%;
  height: 60px;        
  border: none;
  background: transparent;
  resize: none;       
  overflow-y: auto;   
  padding: 4px;
  box-sizing: border-box;
}

button, .clear-btn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    background: #1A6A24;
    color: #fff;
    border: 2px solid #EDB62C;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline;
}

button:hover, .clear-btn:hover {
    background: #14501b;
}

