/* Reset */
* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page Background */
body {
    background-color: #1A6A24; /* Dark Green */
    color: white;
    padding: 20px;
}

/* Header */
.header {
    font-size: 22px;
    font-weight: bold;
    background: #1A6A24;
    color: #ffffff;
    padding: 12px;
    margin-bottom: 20px;
    border: 3px solid #EDB62C;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

/* Search Form */
form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}


form input{
      padding: 6px;
      border: 1px solid #EDB62C;
      border-radius: 4px;
      background: #fffdf5;
      font-size: 13px;
      text-align: center;
      width: 280px;
      color: #000;
      
    }

    form label {
      margin-right: 8px;
      font-size: 16px;
    }

form button {
    padding: 10px 20px;
    background: #EDB62C;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #1A6A24;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #c9981f;
}

/* Results Section */
h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #EDB62C;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    color: #000;
    align-items: center;
    border: 2px solid #EDB62C;
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background: #1A6A24;
    color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #EDB62C;
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background: #f9f9f9;
}

tbody tr:hover {
    background: #fff4d1;
}

/* Messages */
p {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color: #EDB62C;
    font-weight: bold;
}

button, .clear-btn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    background: #1A6A24;
    color: #fff;
    border: 2px solid #EDB62C;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline;
}

button:hover, .clear-btn:hover {
    background: #14501b;
}